extends layout

block content
    // Background
    .homepage-hero-module
      .video-container
        .filter
        video.fillWidth(autoplay='', loop='')
          source(src='img/Love-Coding.mp4', type='video/mp4')
          | Your browser does not support the video tag. I suggest you upgrade your browser.
          source(src='img/Love-Coding.webm', type='video/webm')
          | Your browser does not support the video tag. I suggest you upgrade your browser.
        .poster.hidden
          img(src='img/portfolio-1', alt='')

    // Navigation
    a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
      i.fa.fa-bars
    nav#sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        li.sidebar-brand
          a.js-scroll-trigger(href='#top') Christian Holland
        li
          a.js-scroll-trigger(href='#top') Home
        li
          a.js-scroll-trigger(href='#about') About
        li
          a.js-scroll-trigger(href='#services') Achievements
        li
          a.js-scroll-trigger(href='#portfolio') Portfolio
        li
          a.js-scroll-trigger(href='#contact', onclick='$(') Contact
    // Header
    header#top.header
      .text-vertical-center
        h1 Christian Holland
        div#typed-strings
          p
            | Computer Science graduate with experience in developing AI technologies, web applications and computer games.
        br
        span#typed
        br
        br
        a#FindMoreBtn.button.button-border-primary.button-rounded.js-scroll-trigger(href='#about') Find Out More
    // About
    section#about.about
      .container.text-center
        h2 About me
        p.lead
          | This is where you will find out detailed, but not extensive nor tedious, information about myself.
    // Services
    section#services.services.bg-primary.text-white
      .services-container
        .row.text-center
          .col-lg-10.mx-auto
            h2 Cool stuff I've done
            hr.small
            .row
              .col-md-4.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-cloud.fa-stack-1x.text-primary
                  h4
                    strong IBM Certified Engineer
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='https://ibm.co/2nNygzu') Learn More
              .col-md-4.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-compass.fa-stack-1x.text-primary
                  h4
                    strong WhoSeddit
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='http://bit.ly/2nEUNya') Learn More
              .col-md-4.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-flask.fa-stack-1x.text-primary
                  h4
                    strong The Hotel
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='http://bit.ly/2hBXC3Q') Learn More
              .col-md-4.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  h4
                    strong Prison Break
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='http://bit.ly/2gXaf5q') Learn More
              .col-md-4.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  h4
                    strong Advanced Video Editing
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='http://bit.ly/2gxKJTc') Learn More
                  a.btn.btn-light(href='http://bit.ly/2gxKQOC') Learn More
              .col-md-4.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  h4
                    strong Music Production
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='http://bit.ly/2hsfx9V') Learn More
    // Callout
    aside.callout
      .text-vertical-center
        h1 Vertically Centered Text
    // Portfolio
    section#portfolio.portfolio
      .container
        .row
          .col-lg-10.mx-auto.text-center
            h2 Our Work
            hr.small
            .row
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-fluid(src='img/portfolio-1.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-fluid(src='img/portfolio-2.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-fluid(src='img/portfolio-3.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-fluid(src='img/portfolio-4.jpg')
            // /.row (nested)
            a.btn.btn-dark(href='#') View More Items
          // /.col-lg-10
        // /.row
      // /.container
    // Call to Action
    aside.call-to-action.bg-primary.text-white
      .container.text-center
        h3 The buttons below are impossible to resist.
        a.btn.btn-lg.btn-light(href='#') Click Me!
        a.btn.btn-lg.btn-dark(href='#') Look at Me!
    // Map
    section#contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed')
      br
      small
        a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')
    // Footer
    footer
      .container
        .row
          .col-lg-10.mx-auto.text-center
            h4
              strong Start Bootstrap
            p
              | 3481 Melrose Place
              br
              | Beverly Hills, CA 90210
            ul.list-unstyled
              li
                i.fa.fa-phone.fa-fw
                |                 (123) 456-7890
              li
                i.fa.fa-envelope-o.fa-fw
                a(href='mailto:name@example.com') name@example.com
            br
            ul.list-inline
              li.list-inline-item
                a(href='#')
                  i.fa.fa-facebook.fa-fw.fa-3x
              li.list-inline-item
                a(href='#')
                  i.fa.fa-twitter.fa-fw.fa-3x
              li.list-inline-item
                a(href='#')
                  i.fa.fa-dribbble.fa-fw.fa-3x
            hr.small
            p.text-muted Copyright © Your Website 2017
      a#to-top.btn.btn-dark.btn-lg.js-scroll-trigger(href='#top')
        i.fa.fa-chevron-up.fa-fw.fa-1x
    // Bootstrap core JavaScript
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='vendor/popper/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    script(src='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css')
    // Custom scripts for this template
    script(src='javascripts/stylish-portfolio.js')
    script(src='javascripts/buttons.js')
    script(src='lib/typed.js')
    script.

      //jQuery is required to run this code
        $( document ).ready(function() {
            var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 30
            });
            window.sr = ScrollReveal({ reset: true });
            sr.reveal('#FindMoreBtn', { duration: 200 });
            sr.reveal('#about', { duration: 500 });
            sr.reveal('.services-container', { duration: 900 });
            scaleVideoContainer();

            initBannerVideoSize('.video-container .poster img');
            initBannerVideoSize('.video-container .filter');
            initBannerVideoSize('.video-container video');

            $(window).on('resize', function() {
                scaleVideoContainer();
                scaleBannerVideoSize('.video-container .poster img');
                scaleBannerVideoSize('.video-container .filter');
                scaleBannerVideoSize('.video-container video');
            });

        });

        function scaleVideoContainer() {

            var height = $(window).height() + 5;
            var unitHeight = parseInt(height) + 'px';
            $('.homepage-hero-module').css('height',unitHeight);

        }

        function initBannerVideoSize(element){

            $(element).each(function(){
                $(this).data('height', $(this).height());
                $(this).data('width', $(this).width());
            });

            scaleBannerVideoSize(element);

        }

        function scaleBannerVideoSize(element){

            var windowWidth = $(window).width(),
            windowHeight = $(window).height() + 5,
            videoWidth,
            videoHeight;

            // console.log(windowHeight);

            $(element).each(function(){
                var videoAspectRatio = $(this).data('height')/$(this).data('width');

                $(this).width(windowWidth);

                if(windowWidth < 1000){
                    videoHeight = windowHeight;
                    videoWidth = videoHeight / videoAspectRatio;
                    $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                    $(this).width(videoWidth).height(videoHeight);
                }

                $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

            });
        }

          
