extends layout

block content

    // Coverr Background
    .homepage-hero-module
      .video-container
        .filter
        video.fillWidth(autoplay='true', loop='')
          source(src='img/Love-Coding.mp4', type='video/mp4')
          | Your browser does not support the video tag. I suggest you upgrade your browser.
          source(src='img/Love-Coding.webm', type='video/webm')
          | Your browser does not support the video tag. I suggest you upgrade your browser.
        .poster.hidden
          img(src='img/portfolio-2.jpg', alt='')

    // Navigation
    a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
      i.fa.fa-bars
    nav#sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        li.sidebar-brand
          a.js-scroll-trigger(href='#top') Christian Holland
        li
          a.js-scroll-trigger(href='#top') Home
        li
          a.js-scroll-trigger(href='#about') About
        li
          a.js-scroll-trigger(href='#services') Portfolio
        li
          a.js-scroll-trigger(href='#contact', onclick='$(') Contact
          
          
    // Header
    header#top.header
      .text-vertical-center
        h1 Christian Holland
        div#typed-strings
          p
            | Computer Science graduate with experience in developing AI technologies, web applications and computer games.
        br
        span#typed
        br
        br
        a#FindMoreBtn.button.button-border-primary.button-rounded.js-scroll-trigger(href='#about') Find Out More
        
        
    // About
    section#about.about
      .container.text-center
        h2 About me
        p.lead
          | This is where you will find out detailed, but not extensive nor tedious, information about myself.
          
          
    // Services
    section#services.services.bg-primary.text-white
      .services-container
        .row.text-center
          .col-lg-10.mx-auto
            h2 Cool stuff I've done
            hr.small
            .row
              .col-md-4
                .service-item#si1
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-cloud.fa-stack-1x.text-primary
                  h4
                    strong IBM Certified Engineer
                  p During my Employment at IBM, I achieved a certification acknowledging that I am an IBM Certified Specialist Engineer.
                  a.btn.btn-light(href='https://ibm.co/2nNygzu') Learn More
              .col-md-4
                .service-item#si2
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-compass.fa-stack-1x.text-primary
                  h4
                    strong WhoSeddit
                  p WhoSeddit is my final year dissertation project written in Node.js, showing the popularity and spread of rumours across the Twitter platform, using their API.
                  a.btn.btn-light(href='http://bit.ly/2nEUNya') Learn More
              .col-md-4
                .service-item#si3
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-flask.fa-stack-1x.text-primary
                  h4
                    strong The Hotel
                  p The Hotel is a Three.js project; a horror game written entirely in Javascript. All models and sounds were made by me.
                  a.btn.btn-light(href='http://bit.ly/2hBXC3Q') Learn More
            .row
              .col-md-4
                .service-item#si4
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  h4
                    strong Prison Break
                  p Prison Break is a Dying Light custom campaign that a friend and I worked on when the <a href="https://steamdb.info/app/350570/">developers tools</a> first came out. It was done originally just to pass the time, but it blew up in popularity so we decided to finish it.
                  a.btn.btn-light(href='http://bit.ly/2gXaf5q') Learn More
              .col-md-4
                .service-item#si5
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  h4
                    strong Advanced Video Editing
                  p I spent a lot of time editing game footage when I was younger. I would have edited real life footage, but at that age I couldn't afford anything that could record in the quality I needed.
                  a.btn.btn-light(href='http://bit.ly/2gxKJTc') Learn More
                  a.btn.btn-light(href='http://bit.ly/2gxKQOC') Learn More
              .col-md-4
                .service-item#si6
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  h4
                    strong Music Production
                  p I also spent a lot of time producing music when I was a lot younger. I'm not saying I'm Beethoven... it was just a hobby.
                  a.btn.btn-light(href='http://bit.ly/2hsfx9V') Learn More
        
    // Footer
    section#contact.contact
    footer
      .container
        .row
          .col-lg-10.mx-auto.text-center
            h4
              strong Christian Holland
            hr.small
            ul.list-unstyled
              li
                i.fa.fa-phone.fa-fw
                |                 Please email me for my number
              li
                i.fa.fa-envelope-o.fa-fw
                a(href='mailto:christianoholland@gmail.com') christianoholland@gmail.com
            br
            ul.list-inline
              li.list-inline-item
                a(href='https://www.facebook.com/christian.holland.10')
                  i.fa.fa-facebook.fa-fw.fa-3x
              li.list-inline-item
                a(href='https://www.linkedin.com/in/chris-holland-26644595')
                  i.fa.fa-linkedin.fa-fw.fa-3x
            hr.small
      a#to-top.btn.btn-dark.btn-lg.js-scroll-trigger(href='#top')
        i.fa.fa-chevron-up.fa-fw.fa-1x
        
    // Bootstrap core JavaScript
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='vendor/popper/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
    // Custom scripts for this template
    script(src='javascripts/stylish-portfolio.js')
    script(src='javascripts/buttons.js')
    script(src='lib/typed.js')
    script.

      //jQuery is required to run this code
        $( document ).ready(function() {
            
            // Typewriter effects
            var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 30
            });
            
            // Scroll reveal
            window.sr = ScrollReveal({ reset: true });
            sr.reveal('#FindMoreBtn', { duration: 700 });
            sr.reveal('#about', { duration: 300 });
            sr.reveal('.services-container', { duration: 100 });
            sr.reveal('.fa-facebook', { duration: 300 });
            sr.reveal('.fa-linkedin', { duration: 600 });
            sr.reveal('#si1', { duration: 500 });
            sr.reveal('#si2', { duration: 700 });
            sr.reveal('#si3', { duration: 900 });
            sr.reveal('#si4', { duration: 1100 });
            sr.reveal('#si5', { duration: 1300 });
            sr.reveal('#si6', { duration: 1500 });
            
            // Coverr image 
            scaleVideoContainer();
            initBannerVideoSize('.video-container .poster img');
            initBannerVideoSize('.video-container .filter');
            initBannerVideoSize('.video-container video');

            $(window).on('resize', function() {
                scaleVideoContainer();
                scaleBannerVideoSize('.video-container .poster img');
                scaleBannerVideoSize('.video-container .filter');
                scaleBannerVideoSize('.video-container video');
            });

        });

        function scaleVideoContainer() {

            var height = $(window).height() + 5;
            var unitHeight = parseInt(height) + 'px';
            $('.homepage-hero-module').css('height',unitHeight);

        }

        function initBannerVideoSize(element){

            $(element).each(function(){
                $(this).data('height', $(this).height());
                $(this).data('width', $(this).width());
            });

            scaleBannerVideoSize(element);

        }

        function scaleBannerVideoSize(element){

            var windowWidth = $(window).width(),
            windowHeight = $(window).height() + 5,
            videoWidth,
            videoHeight;

            $(element).each(function(){
                var videoAspectRatio = $(this).data('height')/$(this).data('width');

                $(this).width(windowWidth);

                if(windowWidth < 1000){
                    videoHeight = windowHeight;
                    videoWidth = videoHeight / videoAspectRatio;
                    $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                    $(this).width(videoWidth).height(videoHeight);
                }

                $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

            });
        }

          
